<footer>
  <div class="footer-items">
      <div class="items-list">
          <div class="items">
              <h4>Buyer</h4>
              <ul>
                  <li>Search Property</li>
                  <li>Submit a Request</li>
                  <li>List a Property</li>
              </ul>
          </div>
          <div class="items">
              <h4>Agents</h4>
              <ul>
                  <li>Post Property</li>
                  <li>Manage Property</li> 
                  <li>Sign up as an Agent</li>
              </ul>
          </div>
          <div class="items">
              <h4>Offers</h4>
              <ul>
                  <li>Jobs
                  <li>Referrals</li>
                  <li>Affiliates</li>
              </ul>
          </div>
          <div class="items">
              <h4>Contacts</h4>
              <ul>
                  <li>info@oasisproperties.com</li>
                  <li>sale@oasisproperties.com</li>
                  
              </ul>
          </div>
      </div>
      <br>
      <hr>
      <div class="about">
          <p>Oasis Properties is a registered company under the CAC and also insured with the Insurance Company. We ensure due diligence in certifying the agents that work with us. For no reason should any transaction be carried out outside this platform. Oasis Properties is a registered company under the CAC and also insured with the Insurance Company.</p>
      </div>
      <div class="copyright">
          <p>© Copyright Oasis Properties, 2021 </p>
          <div class="terms">
              <p>Terms and Conditions</p>
              <p>Privacy Policy</p>
          </div>
      </div>
  </div>
</footer>

</body>
</html>
