<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Merriweather:wght@400;700;900&display=swap" rel="stylesheet">
    <title>Home | Oasis Properties </title>
    
</head>
<body>
    <header>
        <div>
            <nav>
                <a href="index.html" class="logo"> <img src="/images/Logo.png"></a>
                <div class="nav-items" class="topnav" id="myTopnav">
                    <ul>
                        <li><a href="#">Find An Apartment</a></li>
                        <li><a href="#">Why choose Oasis</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="\signUp1.html" id="text-red">Become an agent</a></li>
                        <li><a href="/signIn" id="bg-white">Sign in</a></li>                        
                    </ul>
                </div>
                
              </nav>
        </div>
