<%- include('partials/header'); -%>
<div class="hero">
    <h1>Home Hunting Made Easy</h1>
    <div class="hero-select">
        <select>
            <option>Where do you want to live?</option>
        </select>
        <select>
            <option>Beds</option>
        </select>
        <select>
            <option>Min Price</option>
        </select>
        <select>
            <option>Max Price</option>
        </select>
        
    </div>
</div>
<div class="hero-image">
    <img src="images/Oasis Building.png">
</div>
</header>

<section>
<div>
    <h1>Best homes on the market today</h1>
</div>
<div class="section-div">
    <div class="section-flex">
        <div class="flex">
            <img src="images/Rectangle 72.png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p>Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
        <div class="flex">
            <img src="images/Rectangle 62.png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p>Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
    </div>
    <div class="section-flex">
        <div class="flex">
            <img src="images/Rectangle 61.png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p>Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
        <div class="flex">
            <img src="images/Rectangle 57.png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p>Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
    </div>
</div>
</section>
<section class="card">
<div class="main-div">
    <div class="top-div">
        <div style="width: 33%;">
            
            <div class="details pad-con">
                <h2>Live in Lagos</h2>
                <p style="font-size: 20px;">Explore our housing options in the </p>
                <p style="font-size: 20px;">largest city in sub-saharan Africa.</p>
            
                <button type="submit">PREVIEW</button>
            </div>
    </div>
        <div class="non-flex">
                <img src="images/Rectangle 39 (2).png">
                <div class="details">
                    <h2>3 Bedroom Apartment</h2>
                    <p class="rent">Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
        </div>
        <div class="non-flex">
                <img src="images/Rectangle 39.png">
                <div class="details">
                    <h2>3 Bedroom Apartment</h2>
                    <p class="rent">Rent</p>
                    <h3>Price:N500,000</h3>
                    <p>Surulere, Lagos</p>
                    <button type="submit">PREVIEW</button>
                </div>
        </div>
        </div>
    <div class="bottom-div">
        <div class="non-flex">
            <img src="images/Rectangle 39 (3).png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p class="rent">Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
        <div class="non-flex">
            <img src="images/Rectangle 39 (2).png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p class="rent">Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
        <div class="non-flex">
            <img src="images/Rectangle 39 (1).png">
            <div class="details">
                <h2>3 Bedroom Apartment</h2>
                <p class="rent">Rent</p>
                <h3>Price:N500,000</h3>
                <p>Surulere, Lagos</p>
                <button type="submit">PREVIEW</button>
            </div>
        </div>
    </div>
</div>
</section>
<section class="card-three">
<div class="sub-card">
    <div class="card-body">
        <img src="images/Rectangle 72.png">
        <div class="d-flex">
            <h2>List your property</h2>
            <p>Have a house to sell or a room to rent out? Trust oasis today and let us connect you with the best agents near you</p>
            <button type="submit">PREVIEW</button>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex">
            <h2>Home Estimates</h2>
            <p>Check how much your house is worth before putting it on the market</p>
            <button type="submit">PREVIEW</button>
        </div>
        <img src="images/Rectangle 110.png">
    </div>
</div>
</section>

<%- include('partials/footer'); -%>
